<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.number_field :game_id %>
  </div>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.number_field :owner_id %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :visibility, style: "display: block" %>
    <%= form.text_field :visibility %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
