<div id="<%= dom_id room %>">
  <p>
    <strong>Game:</strong>
    <%= room.game_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= room.owner_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= room.status %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= room.visibility %>
  </p>

</div>
